<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
  </head>
  <body>
    <header id="assembly">  
      <div id="blank-header"></div>
      <img class="logo" src="./mailing/favor.png" />
      <img class="profile" alt="민병두" src="../images/ mindbd.jpg"/>
      <h3 class="bio">민병두 <span>/</span> 서울 동대문구을 <span>/</span> 새정치민주연합</h3>
    </header>
    <section id="statistics">
      <div id="report-alert">
        <h1 id = "name"> 민병두 의원의 국회 생활통지표가 도착했습니다 </h1>
      </div>
      <div>
        <h4 class="check">이번 주에 발의한 법안, 표결한 법안, 국회  출석률을 확인해주세요</h4>
      
      </div> 
      <ul>
      <li class="att">
        <span class="title">출석률</span>
        <div class="value">88%</div>
        <span class="rank">정당: 상위 5% / 전체: 상위 6%</span>
      </li>
      <li class = "propo">
        <span class="title">발의 법안 수</span>
        <div class="value">20개</div>
        <span class="rank">정당: 상위 6% / 전체: 상위 8%</span>
      </li>
      </ul>
    </section>
    <section id="bills">
      <section class="proposal">
        <h3>발의 법안 내용</h3>
        <hr/>
        <table>
          <thead>
            <tr>
              <th width="15%">제안일</th>
              <th width="75%">법안명</th>
              <th width="10%">상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2014-04-01</td>
              <td>남녀 고용평등과 일가정 양립 지원에 관한 법률 일부 개정 법률안</td>
              <td>계류</td>
            </tr>
            <tr>
              <td>2014-04-13</td>
              <td>근로기준법 일부개정법률안</td>
              <td>계류</td>
            </tr>
          </tbody>
        </table>
      </section>
      <section class="vote">
        <table>
          <thead>
            <tr>
              <th width="15%">제안일</th>
              <th width="75%">법안명</th>
              <th width="10%">상태</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>2014-04-01</td>
              <td>남녀 고용평등과 일가정 양립 지원에 관한 법률 일부 개정 법률안</td>
              <td>계류</td>
            </tr>
            <tr>
              <td>2014-04-13</td>
              <td>근로기준법 일부개정법률안</td>
              <td>계류</td>
            </tr>
          </tbody>
        </table>
      </section>
    </section>
    <footer class="mailing_footer">
    <section id="result">
      <span class="percentage">11%</span>
      <h3>본 의원은 성실한 의정활동을 수행함으로<br> 국회에 긍정적인 영향을 끼쳤습니다. 격려 부탁드립니다.</h3>
    </section>
      <div>민병두 의원 / TEL: 02.458.3855 / minbd88@nate.com / FAX: 02.4493.4998</div>
      <div>
        <button>메일링 그만받기</button>
      </div>
      <p>Some Copyright Reserved / CC BY / Code for Seoul</p>
    </footer>
  </body>
</html>
