html {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 600px;
    
}
#blank-header {
    width: 600px;
    height: 24px;
    background-color: #042440;
}

header#assembly {
    position: relative;
    background-image: url('./mailing/background.png');
    width: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0.9;

}
header#assembly img.logo {
    margin-top: -15px;

}

header#assembly img.profile {
    width: 110px;
    height: 110px;
    border-radius: 55px;
    margin-top: 21px;

}

header#assembly .bio {
    color: white;
    font-weight: 200;
    margin-bottom: 45px;
}

header#assembly .bio span {
    color: #042440;
    }

#statistics {
    position: relative;
    /*background-color: #F9C432;*/
    background-image: url('./mailing/Shape76.png');
    width: 100%;
    background-size: 610px 361px;
    display: flex;
    flex-direction: column;
    top: -31px;
    

}
#statistics ul {
    text-align: center;
    padding-left: 100px;
}

#statistics ul li {
    float:left;
    list-style-type:none;
    width:40%;
}

#statistics .att .title  {
    background-color:#666;
    border-radius:30px 0 0 30px;
    height:50px; 
    padding:10px 20px;
    opacity: 0.7;
    font-weight: 200;
}

#statistics .propo .title  {
    background-color:#666;
    border-radius: 0 30px 30px 0;
    height:50px; 
    width: 100px;
    padding:10px 10px;
    opacity: 0.7;
    font-weight: 200;

}

#statistics #report-alert {
    position: relative;
    top: -25px;
    padding-bottom: 10px;
    padding-top: 7px;
    margin-top: 10px;
}
#statistics #name {
    background-color: white;
    margin-top: 5px;
    padding: 6px 0 10px 0;
    width: 85%;
    height: 18px;
    margin: auto;
    color: #267bb6;
    text-align: center;
    font-weight: 300;
}

#statistics .check {
    font-weight: 200;
    margin-top: -17px;
}

#statistics .att .value {
    background-color:#fff;
    padding: 20px;
    height:120px;
    width: 160px;
    border-radius: 120px 0 0 120px;
    font-size: 90px;
    letter-spacing: -10px;
    font-weight: 100;
    color:#999;
    line-height: 125px;
}

#statistics .propo .value {
    background-color:#fff;
    padding:20px;
    height:120px;
    width: 160px;
    border-radius:  0 120px 120px 0;
    font-size: 85px;
    letter-spacing: -10px;
    font-weight: 100;
    color:#999;
    line-height: 125px;
    margin-left: 5px;
}


.att {
    
}
.att .title {

}

#bills tr th {
 
}

#bills {
    width: 95%;
}

#bills table {
    width: 100%;
}

#bills table > thead {
    background-color: #B9BCBD;
    color: white;
}

#bills table > tbody {
    color: #808080;
}

.mailing_footer {
    background-image: url('./mailing/Shape 76 copy 2.png');
    background-size: 600px 500px;
}

