html {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header#assembly {
    background-color: blue;
    width: 100%;
    min-height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

header#assembly img.profile {
    width: 100px;
    height: 100px;
    border-radius: 50px;
}

header#assembly .bio {
    color: white;
}

#statistics {
    background-color: #FFC400;
    width: 100%;
    display: flex;
    flex-direction: column;
}
#statistics ul li {
    float:left;
    list-style-type:none;
    width:50%;
}

#statistics .att .title  {
    background-color:#666;
    border-radius:30px 0 0 30px;
    height:50px; 
    padding:10px 20px;
    opacity: 0.7;
    font-weight: bold;
}

#statistics .propo .title  {
    background-color:#666;
    border-radius: 0 30px 30px 0;
    height:50px; 
    width: 100px;
    padding:10px 10px;
    opacity: 0.7;
    font-weight: bold;
}

#statistics #name {
    background-color: white;
    padding: 10px;
    width: 85%;
    margin: 0 auto;
    color: #0d7ff2;
}

#statistics .att .value {
    background-color:#fff;
    padding: 20px;
    height:120px;
    width: 220px;
    border-radius: 120px 0 0 120px;
    font-size: 90px;
    letter-spacing: -10px;
    font-weight: 100;
    color:#999;
    line-height: 125px;
}

#statistics .propo .value {
    background-color:#fff;
    padding:20px;
    height:120px;
    width: 200px;
    border-radius:  0 120px 120px 0;
    font-size: 85px;
    letter-spacing: -10px;
    font-weight: 100;
    color:#999;
    line-height: 125px;
}

.att {
    
}
.att .title {

}


#bills {
    width: 95%;
}

#bills table {
    width: 100%;
}

#bills table > thead {
    background-color: gray;
    color: white;
}

#bills table > tbody {
    color: #808080;
}